/jaxws/jaxws.simplest/target/
/jaxws/jaxws.simplest.fault/target/
/jaxws/jaxws.simplest.faulthandler/target/
/jaxws/target/
/jaxws/jaxws.simplest.rpc/nb-configuration.xml
/jaxws/jaxws.simplest.fault/nb-configuration.xml
/jaxws/jaxws.simplest.faulthandler/nb-configuration.xml
/jaxws/nb-configuration.xml
/jaxws/jaxws.simplest.handler/target/
/jaxws/jaxws.simplest.handler/nb-configuration.xml
jaxws/jaxws.simplest.rpc/target/maven-archiver/pom.properties
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT.war
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/Hello.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/HelloResponse.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/ObjectFactory.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/SimpleWebServiceImpl.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/SimpleWebServicePortType.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/package-info.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/client/WebServiceClient.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/server/SimpleWebServiceImpl.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/server/SimpleWebServicePortType.class
jaxws/jaxws.simplest.rpc/target/classes/cz/toce/learn/javaee/ws/simplest/rpc/server/WebServicePublisher.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/Hello.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/HelloResponse.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/ObjectFactory.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/SimpleWebServiceImpl.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/SimpleWebServicePortType.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/api/package-info.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/client/WebServiceClient.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/server/SimpleWebServiceImpl.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/server/SimpleWebServicePortType.class
jaxws/jaxws.simplest.rpc/target/jaxws.simplest.rpc-1.0.0-SNAPSHOT/WEB-INF/classes/cz/toce/learn/javaee/ws/simplest/rpc/server/WebServicePublisher.class
/jaxws/jaxws.simplest.sei/target/
/jaxws/simplest.api/target/
/jaxws/jaxws.simplest.api/target/
/jaxws/jaxws.simplest.api.sei/target/
/jaxws/jaxws.simplest.api.sei/nb-configuration.xml